<nav class="navbar navbar-expand-lg bg-dark navbar-dark mb-4">
    <div class="container-fluid">
        <ul class="navbar-nav d-flex justify-content-start">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" act routerLink="/pokemons">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/locations">Locations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/items">Items</a>
            </li>
        </ul>
    </div>
</nav>