<div class="d-flex justify-content-center">
    <div class="card" style="width: 28rem;">
        <div class="card-body">
            <h5 class="card-title text-center">Unathorized!</h5>
            <p class="card-text">To be able to see fire type pokemon you need to be logged in. Click <span
                    class="span-home" (click)="backHome()">here</span> to go back home</p>
            <div class="d-flex justify-content-around">
                <a routerLink="/log-in" class="card-link">Log in</a>
                <a routerLink="register" class="card-link">Dont have an account?</a>
            </div>
        </div>
    </div>
</div>