<div *ngIf="pokemon" id="carouselExample" class="carousel slide carousel-dark">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img [src]="pokemon.sprites?.front_default | carouselImage" class="d-block w-100" [alt]="pokemon.name">
        </div>
        <div class="carousel-item">
            <img [src]="pokemon.sprites?.back_default | carouselImage" class="d-block w-100" [alt]="pokemon.name">
        </div>
        <div class="carousel-item">
            <img [src]="pokemon.sprites?.front_shiny | carouselImage" class="d-block w-100" [alt]="pokemon.name">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>