<div *ngIf="regions.length == 0" class="text-center">
    <app-loading></app-loading>
</div>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">#
                <span class="order" (click)="orderById()">
                    <i *ngIf="!orderId" class="fa-solid fa-arrow-up"></i>
                    <i *ngIf="orderId" class="fa-solid fa-arrow-down"></i>
                </span>
            </th>
            <th scope="col">Name
                <span class="order" (click)="orderByName()">
                    <i *ngIf="!orderName" class="fa-solid fa-arrow-up"></i>
                    <i *ngIf="orderName" class="fa-solid fa-arrow-down"></i>
                </span>
            </th>
            <th scope="col">Generation</th>
            <th scope="col">Appearences in games</th>
        </tr>
    </thead>
    <tbody>
        <tr class="order" *ngFor="let region of regions" (click)="goToRegionInfo(region.id)">
            <th scope="row">
                {{region.id}}
            </th>
            <td>{{region.name | titlecase}}</td>
            <td *ngIf="region.main_generation?.name">{{region.main_generation?.name | titlecase}}</td>
            <td *ngIf="!region.main_generation?.name">Null</td>
            <td>
                <span *ngFor="let item of region.version_groups" class="badge text-bg-secondary me-1">{{item.name |
                    titlecase}}</span>
            </td>
        </tr>
    </tbody>
</table>